- name: Instalar y configurar servidor web contenerizado
  hosts: localhost
  connection: local
  become: true
  vars_files:
    - vars/container_registry_vars.yml
    - vars/00_vars.yml
  tasks:
    - name: Instalar herramientas necesarias
      ansible.builtin.apt:
        pkg:
        - podman
        - skopeo
        - openssl

    - name: Crear directorio de trabajo
      file:
        path: webserver
        state: directory

    - name: Crear archivo de credenciales
      community.general.htpasswd:
        path: "webserver/.creds"
        name: "{{ username }}"
        password: "{{ password }}"
        crypt_scheme: bcrypt
        state: present

    - name: Generar certificado autofirmado
      vars:
        key_name: server.key
        csr_name: server.csr
        cert_name: server.crt
        common_name: vm1
      block:
        - name: Generar clave privada para el certificado
          openssl_privatekey:
            path: "webserver/{{ key_name }}"
            size: 2048

        - name: Generar petición de firma del certificado
          openssl_csr:
            path: "webserver/{{ csr_name }}"
            privatekey_path: "webserver/{{ key_name }}"
            common_name: "{{ common_name }}"

        - name: Generar certificado utilizando la clave privada y la petición de firma
          openssl_certificate:
            path: "webserver/{{ cert_name }}"
            privatekey_path: "webserver/{{ key_name }}"
            csr_path: "webserver/{{ csr_name }}"
            provider: selfsigned

    - name: Crear página principal del servidor web
      copy:
        src: webserver_files/index.html
        dest: "webserver/index.html"

    - name: Crear configuración del servidor web
      template:
        src: webserver_files/httpd.conf
        dest: webserver/httpd.conf

    - name: Crear archivo de autenticación básica
      copy:
        src: webserver_files/.htaccess
        dest: "webserver/.htaccess"

    - name: Crear archivo Containerfile
      copy:
        content: |
          FROM docker.io/httpd:latest
          COPY index.html /usr/local/apache2/htdocs/
          COPY .htaccess /usr/local/apache2/htdocs/
          COPY httpd.conf /usr/local/apache2/conf/
          COPY .creds /usr/local/apache2/
          COPY server.key /usr/local/apache2/
          COPY server.crt /usr/local/apache2/
        dest: "webserver/Containerfile"
  
    - name: Build the image
      containers.podman.podman_image:
          name: webserver
          path: "webserver"

    - name: Tag the generated image
      containers.podman.podman_tag:
        image: localhost/webserver:latest
        target_names:
          - "{{ registry_url }}/{{ repository }}:{{ tag }}"

    - name: Login to registry
      containers.podman.podman_login:
        username: "{{ registry_username }}"
        password: "{{ registry_password }}"
        registry: "{{ registry_url }}"

    - name: Push de la imagen al repositorio
      command: podman push "{{ registry_url }}/{{ repository }}:{{ tag }}"
      become: true


